# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.gd]
indent_size = 4
tab_width = 4
indent_style = space

[*.tscn]
indent_size = 4
tab_width = 4
indent_style = space

[*.cfg]
indent_size = 4
tab_width = 4
indent_style = space

[Makefile]
indent_size = 4
tab_width = 4
indent_style = space

[*.{md,txt,json,yaml,yml}]
indent_size = 2
tab_width = 2
indent_style = space

{"op":"continue"}